@font-face {
  font-family: 'starwars';
  src: url('./STJEDISE.TTF');
}

h1 {
  font-family: 'starwars';
}

.font-huge {
  font-size: 4rem;
  margin: 1rem;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

