@font-face {
  font-family: 'starwars';
  src: url('./STJEDISE.TTF');
}

h1 {
  font-family: 'starwars';
  color: rgb(255, 225, 0);
}

.card {
  background-color: rgba(43, 43, 43, 0.466);
  color: #eee;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}